---
slug: name
title: Name
authors: yuri
tags: [template, name]
hide_table_of_contents: false
---

import Figure from '@site/src/components/figure';
import Reminder from '@site/src/components/reminder';

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum dignissim ultricies. Fusce rhoncus ipsum tempor eros aliquam consequat. Lorem ipsum dolor sit amet

<!--truncate-->

<Figure data={{ src: '/img/name.jpg', alt: 'name', type: 'image' }} />

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum dignissim ultricies. Fusce rhoncus ipsum tempor eros aliquam consequat. Lorem ipsum dolor sit amet

___

<Reminder />
